<div class="card-container">
    <section class="card">
        <h3 class="card__heading">Step 01</h3>
        <p class="card__body">Click on create free account now</p>
    </section>
    <section class="card">
        <h3 class="card__heading">Step 02</h3>
        <p class="card__body">Provide your bio data and business registration details</p>
    </section>
    <section class="card">
        <h3 class="card__heading">Step 03</h3>
        <p class="card__body">Submit an application for a business loan</p>
    </section>
    <section class="card">
        <h3 class="card__heading">Step 04</h3>
        <p class="card__body">Fulfill all due diligence requirements</p>
    </section>
    <section class="card">
        <h3 class="card__heading">Step 05</h3>
        <p class="card__body">Financing is disbursed into your Blu account</p>
    </section>
</div>