<span class="icon--container icon--container-primary">
    <svg class="icon">
        <use xlink:href="img/sprite.svg#mail"></use>
    </svg>
</span>
<span class="icon--container icon--container-primary">
    <svg class="icon">
        <use xlink:href="img/sprite.svg#phone"></use>
    </svg>
</span>
<span class="icon--container icon--container-primary icon--container_cirle">
    <svg class="icon">
        <use xlink:href="img/sprite.svg#Business"></use>
    </svg>
</span>

<span class="icon--container icon--container_arrow icon--container-blue">
    <svg class="icon">
        <use xlink:href="img/sprite-line.svg#line"></use>
    </svg>
</span>
<span class="icon--container icon--container_arrow icon--container-white">
    <svg class="icon">
        <use xlink:href="img/sprite-line.svg#line-dark"></use>
    </svg>
</span>