<div class="review__box-container">
    <div class="review--box">
        <div class="client-comment">
            <p>
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint velit officia consequat
                duis
                enim velit mollit exercitation veniam.
            </p>
        </div>
        <div class="box--bottom">
            <div class="review--profile">
                <div class="profile--img">
                    <img src="img/img2.png" alt="" srcset="">

                </div>
                <div class="name-user">
                    <strong>Kristin Watson</strong>
                    <span>Jun 27, 2020 · 6 min read</span>
                </div>

            </div>
            <div class="review">
                <i class="fa-solid fa-star fa-2xs"></i>
                <i class="fa-solid fa-star fa-2xs"></i>
                <i class="fa-solid fa-star fa-2xs"></i>
                <i class="fa-solid fa-star fa-2xs"></i>
                <i class="fa-regular fa-star fa-2xs"></i>

            </div>
        </div>

    </div>
</div>